.nav-bar {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-bar>p {
  margin: 0px;
  color: blue;
}

.flex-1 {
  flex: 1;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}